{% extends 'catalog/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Контакты</h2>
    {% if contact_info %}
    {% for contact in contact_info %}
    <ul class="list-group mt-3">
        <li class="list-group-item d-flex align-items-center">
            <div class="flex-grow-1">
                <h5 class="mb-1">Имя: {{contact.name}}</h5>
                <p class="mb-0">Телефон: {{contact.phone}}</p>
                <p class="mb-0">Email адрес: {{contact.email}}</p>
            </div>
<!--            <button class="btn btn-primary">Message</button>-->
        </li>
    </ul>
    {% endfor %}
    {% else %}
    <p>Контактная информация отсутствует.</p>
    {% endif %}
</div>

{% endblock %}